
/* 🌞 Day Theme */
.bg-day {
  background: url("/image.png") no-repeat center center/cover;
  transition: background 0.5s ease-in-out;
}

/* 🌙 Night Theme */
.bg-night {
  background: url("/imagecopy.jpg") no-repeat center center/cover;
  transition: background 0.5s ease-in-out;
}


.home-page-text {
  text-shadow: 1px 1px 6px var(--color-secondary), -1px -1px 6px var(--color-secondary);
}


.qr-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navs {
  transition: 0.3s ease;
  
  &:hover {
    color: var(--color-accent);
  }
}